<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include::layuiCommonHeader">
<title>采购货源配置</title>
</head>
<style type="text/css">
.layui-col-md9 {
	margin-left: 0px;
}

.layui-col-space10>* {
	padding-bottom: 0px;
}

.layui-btn-group {
	margin-top: 6px;
}

html,body {
	overflow: auto !important;
}
 .pitch3{background:#b9e0ef;}
</style>
<body class='fau-body'>
	<div class="demoTable" style="margin-top: 10px;">
		<form class="layui-form" action="" method="post">
			<div class="layui-row MarginTop">
				<div class="layui-row layui-col-space10">
					<div class="layui-col-md6" style="margin-top: 8px;">
						<div class="layui-btn-group1">
							<button class="layui-btn layui-btn-xs blueHollow" id="addBtn"
								data-type="reload" type="button">添加</button>
							<button class="layui-btn layui-btn-xs blueHollow" id="resetBtn"
								type="reset">重置</button>
						</div>
					</div>

					<div class="layui-col-md6" style="margin-top: 8px;">
						<div class="layui-btn-group1">
							<button class="layui-btn layui-btn-xs blueHollow" id="delBtn"
								type="button" style='margin-left: 10px !important; float: left;'>删除</button>
							<button class="layui-btn layui-btn-xs blueHollow" id="confimBtn"
								type="button" style='margin-left: 10px !important; float: left;'>确认</button>
						</div>
					</div>
				</div>
			</div>

			<div class="layui-row layui-col-space20">
				<div class="layui-col-md3">
					<div class="layui-row">
						<div class="layui-col-md12">
							<div class="layui-fluid tableCont xuanzhong3" style='padding: 0px;'>
								<table id="sourceTb" lay-filter="userSourceTbEvent"></table>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-row">
						<div class="layui-col-md12">
							<div class="layui-fluid tableCont xuanzhong4" style='padding: 0px;'>
								<table id="targetTb" lay-filter="userTargetTbEvent"></table>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-md6">
					<div class="layui-row">
						<div class="layui-col-md12">
							<div class="layui-fluid tableCont " style='padding: 0px;'>
								<table id="adjustTb" lay-filter="adjustTbEvent"></table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
<div th:include="include::layuiCommonJS"></div>
<script th:src="@{/larryMS/js/appjs/mdm/config/purConfigAdjust.js}"></script>
</html>