<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="include::layuiCommonHeader">
<title>合格供应商列表</title>
</head>
<style type="text/css">
.red{color:red;}
.center{text-align: center;}
input{height:30px;}
td:nth-child(1){border-right:none !important;}
th:nth-child(1){border-right:none !important;}
html,body{overflow:auto !important;}
</style>
<body  class='fau-body-list'>
	<div class="demoTable">
	<form class="layui-form" action="" method="post">
	<div class="layui-row MarginTop">
	  	  <div class="layui-col-md4">
			  <div class="layui-form-item">
			    <label class="layui-form-label">供应商</label>
			    <div class="layui-input-block">
			      <input type="text" id="suppInfo" name="suppInfo" placeholder="供应商编码/名称"  class="layui-input">
			    </div>
			  </div>
		  </div>  
	  	  <div class="layui-col-md4">
			   <div class="layui-form-item">
			    <label class="layui-form-label" >供应商分类</label>
			    <div class="layui-input-block">
			      <input type="text" id="category" name="category" placeholder="请输入关键字搜索"   class="layui-input">
			    </div>
			  </div>
		  </div>  
	  	  <div class="layui-col-md4">
			   <div class="layui-form-item">
			    <label class="layui-form-label">省/市</label>
			    <div class="layui-input-block">
			    	 <input type="text" id="provcity" name="provcity" placeholder="请输入关键字搜索"  class="layui-input">
			    </div>
			  </div>
		  </div>  
	  </div>
	  
	</form>
	<div class="layui-fluid divMargin" >
	<div class="layui-row">
		<div class="layui-col-md8" >
			<button class="layui-btn layui-btn-xs blueHollow" id="synchron" sec:authorize="hasRole('ROLE_QUALSUPP_SYNCH')">同步</button>
			<button class="layui-btn layui-btn-xs blueHollow" id="exportSupp">导出</button>
		</div>
		<div class="layui-col-md4 textRight">
			<button class="layui-btn layui-btn-xs yellowSolid" data-type="reload" id="serachSupp">搜索</button>
			<button class="layui-btn layui-btn-xs yellowHollow" type="reset" id="reset">重置</button>
		</div>
	</div>
	</div>
	</div>
	<div class="layui-fluid tableCont" style='padding:0px;'>
		<table class="layui-table" lay-data="{width: '100%', minHeight:30, url:'/queryQualSuppByPage', page:true, id:'qualSuppTableId',limit:10}" lay-filter="demo">
		  <thead>
		    <tr>
		      <th lay-data="{type:'numbers', fixed:'left'}">序号</th>
		      <th lay-data="{field:'sapId', align:'center',width:154}">SAP编码</th>
		      <th lay-data="{field:'categoryId', align:'center',width:159 }">供应商分类</th>
		      <th lay-data="{field:'suppName', width:382}">供应商名称</th>
		      <th lay-data="{field:'suppAbbre',align:'center', width:153}">供应商简称</th>
		      <th lay-data="{field:'provName', align:'center',width:120}">省</th>
		      <th lay-data="{field:'cityName', align:'center',width:141}">市</th>
		      <th lay-data="{fixed: 'right', width:100, align:'center', toolbar: '#barDemo'}">操作</th>
		    </tr>
		  </thead>
		</table>
	</div>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs blueInline" lay-event="check">查看</a>
  <a class="layui-btn layui-btn-xs blueInline" lay-event="edit">编辑</a>
</script>
<div th:include="include::layuiCommonJS"></div>
<script type="text/javascript" th:src="@{/larryMS/js/appjs/mdm/supp/qualSuppList.js}"></script>	
</body>
</html>
		 