<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include::layuiHeader">
<title>备货计划</title>
</head>
<style type="text/css">
	.margin-top20 { margin-top: 20px; }
	#searchBtn{float: right; margin-right: 45px;}
	.btnDiv{ float: right; margin-right: 40px;} 
	.blueHollow {
	  border:1px #458ffc solid;
	  background: white;
	  color: #458ffc; }

	.blueHollow:hover {
		
	  background: #458ffc;
	  color: #fff; }
</style>
<body>
	<form class="layui-form margin-top20" id="searchForm" action="" method="post">
		<input type="hidden" id="planMonth" th:value="${planMonth}"/>
		<input type="hidden" id="prodSeriesCode" th:value="${prodSeriesCode}"/>
		<div class="layui-row">
			<div class="layui-col-md4 layui-col-sm6" >
				<div class="layui-form-item">
					<label class="layui-form-label">物料信息</label>
					<div class="layui-input-block" >
						<input type="text" id="mateDesc" name="mateDesc" placeholder="请输入物料关键字" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-md2 layui-col-sm6" >
				<button class="layui-btn layui-btn-xs yellowSolid" type="button" id="searchBtn">搜索</button>
			</div>
		</div>
	</form>
	<div class="layui-fluid">
		<table class="layui-hide" id="invenPlanTable" lay-filter="invenPlanTable">
		</table>
	</div>
	<div class="layui-row btnDiv">
		<button class="layui-btn layui-btn-xs blueHollow" id=confirmBtn>确定</button>
		<button class="layui-btn layui-btn-xs blueHollow" id="cancleBtn">取消</button>
	</div>
	<div th:include="include::layuiCommonJS"></div>
	<script type="text/javascript" th:src="@{/larryMS/js/appjs/bam/invenPlan/addPlanDg.js}"></script>
</body>
</html>