<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>layui</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" th:href="@{/selectMultiple/public.css}" />
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
<link rel="stylesheet" href="/layui/css/style.css" media="all">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<style type="text/css">
#suppDiv {
	width: 78% ! important;
}

.layui-form-label {
	width: 100px;
}

.main-body {
	margin: 10px 15px;
}

.marginLeft5 {
	margin-left: 5%;
}

.margin-top20 {
	margin-top: 10px;
}

.blueHollow {
	border: 1px #458ffc solid;
	background: white;
	color: #458ffc;
}

.blueHollow:hover {
	background: #458ffc;
	color: #fff;
}

.layui-tab-title {
	height: 41px !important;
	background: none !important;
}

.panel-body {
	padding: 0px !important;
}

.layui-tab-content {
	padding: 0px !important;
}
.centerBtn{
	margin-top: 2%; margin-left: 4%;
}
.layui-btn-xs{
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    padding: 0px 5px}
</style>
</head>
<body>
	<div class="layui-row main-body ">
		<div class="layui-row">
			<div class="layui-col-md4 ">
				<button class="layui-btn layui-btn-xs blueHollow disableBtn"
					id="submitBtn">提交</button>
				<button class="layui-btn layui-btn-xs blueHollow disableBtn"
					id="saveBtn">保存</button>
				<button class="layui-btn layui-btn-xs blueHollow layui-hide "
					id="suppProdBtn">排产计划</button>
				<button class="layui-btn layui-btn-xs blueHollow" id="backBtn">返回</button>
			</div>
		</div>
		<form class="layui-form" action="" id="invenPlan-form">
			<input type="hidden" id="id" name="id" th:value="${invenPlan.id}" />
			<input type="hidden" id="detailJson" name="detailJson" /> <input
				type="hidden" id="type" name="type" th:value="${type}" /> <input
				type="hidden" id="prodSeriesDesc" name="prodSeriesDesc"
				th:value="${invenPlan.prodSeriesDesc}" /> <input type="hidden"
				id="seriesCode" th:value="${invenPlan.prodSeriesCode}" />

			<div class="layui-row margin-top20">
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">计划单号</label>
						<div class="layui-input-inline">
							<input type="text" readonly="readonly" id="planCode"
								name="planCode" th:value="${invenPlan.planCode}"
								class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">计划名称</label>
						<div class="layui-input-inline">
							<input type="text" id="planDesc" name="planDesc"
								th:value="${invenPlan.planDesc}" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">状态</label>
						<div class="layui-input-inline">
							<input type="text" readonly="readonly" name="status" id="status"
								th:value="${invenPlan.status}" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">创建日期</label>
						<div class="layui-input-inline">
							<input type="text" readonly="readonly" name="createDate"
								id="createDate"
								th:value="${invenPlan.createTime== null} ? '':${#dates.format(invenPlan.createTime, 'yyyy-MM-dd')}"
								class="layui-input">
						</div>
					</div>
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-md3">
					<div class="layui-form-item ">
						<label class="layui-form-label">月份</label>
						<div class="layui-input-inline">
							<input type="text" readonly="readonly" name="planMonth"
								id="planMonth"
								th:value="${invenPlan.planMonth== null} ? '':${#dates.format(invenPlan.planMonth, 'yyyy-MM')} "
								class="layui-input">
						</div>
					</div>
				</div>
			</div>
		</form>
		<form class="layui-form" action="" >
			<div  class="layui-row">
	<!-- 			<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">品项</label>
						<div class="layui-input-inline">
							<select name="itemInfo"   id="itemInfo" lay-verify=""
								lay-search="" lay-filter="itemInfo">
								<option value="">请选择</option>
								<option th:each="item:${ItemList}" th:value="${item.dicCode}" th:text="${item.dicName}">请选择</option>
							</select>
						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">物料</label>
						<div class="layui-input-inline">
							<select name="mateDesc"  multiple id="mateDesc" lay-verify=""
								lay-search="" lay-filter="itemInfo">
								<option value="">请选择</option>
								<option th:each="item:${mateList}" th:value="${item.mateCode}" th:text="${item.mateName}">请选择</option>
							</select>
						</div>
					</div>
				</div>
				<div class="layui-col-md3">
					<div class="layui-form-item">
						<label class="layui-form-label">供应商</label>
						<div class="layui-input-inline">
							<select name="suppName"  multiple id="suppName" lay-verify=""
								lay-search="" lay-filter="itemInfo">
								<option value="">请选择</option>
								<option th:each="item:${suppList}" th:value="${item.sapId}" th:text="${item.suppName}">请选择</option>
							</select>
						</div>
					</div>
				</div> -->
				<div class="layui-col-md1">
					<div class="layui-btn layui-btn-xs blueHollow centerBtn disableBtn" id="generateBtn">生成</div>
				</div>
				<div class="layui-col-md4 layui-col-md-offset7">
				    <input type="hidden" id="mateDesc">
				    <input type="hidden" id="selectSeriesCodes">
				    <input type="hidden" id="selectSuppCodes">
				    <input type="hidden" id="selectItemCodes">
					<div class="layui-btn layui-btn-xs blueHollow centerBtn " id="itemSearchBtn">选择品项</div>
					<div class="layui-btn layui-btn-xs blueHollow centerBtn " id="seriesSearchBtn">选择系列</div>
					<div class="layui-btn layui-btn-xs blueHollow centerBtn " id="mateSearchBtn">选择物料</div>
					<div class="layui-btn layui-btn-xs blueHollow centerBtn " id="suppSearchBtn">选择供应商</div>
					<div class="layui-btn layui-btn-xs blueHollow centerBtn " id="searchBtn">查询</div>
				</div>
			</div>
		</form>
		<!-- 备货计划详情 开始-->
		<div class=" panel-default ">
			<div id="collapseFour" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="layui-row">
						<div class=" layui-col-md2 layui-col-md-offset10">
							<div class="layui-hide">
								<div class="layui-btn layui-btn-xs blueHollow disableBtn"
									id="importBtn">导入</div>
								<div class="layui-btn layui-btn-xs disableBtn"
									id="addBtn">添加</div>
								<div class="layui-btn layui-btn-xs blueHollow disableBtn"
									id="modifyBtn">修改</div>
							</div>
						</div>
					</div>
					<div class="layui-row">
						<div class="layui-fluid tableCont" style='padding: 0px;'>
							<table id="planDetail-table" lay-filter="planDetail-table"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 备货计划详情结束 -->

		<!-- 报表开始 -->

		<div class="layui-tab" lay-filter="planTab">
			<ul class="layui-tab-title">
				<li class="layui-this" lay-id="mateSum">按物料汇总</li>
				<li lay-id="suppSum">按供应商汇总</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<table id="mateTable" lay-filter="mateTable">
					</table>
				</div>
				<div class="layui-tab-item">
					<table id="suppTable" lay-filter="suppTable">
					</table>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-form.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/appjs/bam/invenPlan/invenPlanEdit.js}"></script>
</body>
</html>