<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include::layuiCommonHeader">
<!-- <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="renderer" content="webkit" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>&nbsp; </title>
<div th:include="include :: header"></div>
<link th:href="@{/css/font-awesome.min93e3.css}" rel="stylesheet" />
<link th:href="@{/css/animate.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.min862f.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/cssCommon/Common.css}"> -->
</head>
<style>
.comName{text-align:center;}
.bills{text-align:center;}
.layui-table-view .layui-table td, .layui-table-view .layui-table th{padding: 2px 0px;}
.blueHollow {
  background: #fff;
  border: 1px solid #458ffc;
  color: #458ffc; }

.blueHollow:hover {
  background: #458ffc; }
</style>
<body>
		
	 <div class='BttonDiv'>
	<button class="layui-btn layui-btn-xs blueHollow" id="affirmBut">确定</button>
	<button class="layui-btn layui-btn-xs blueHollow" id="goBack">返回</button>
	</div>
		
	<br/>


	 <form class="layui-form" action="" method="post" id="deliveryForm" enctype="multipart/form-data">
	  <input type="text" name="messId" id="messId" style="display: none;" th:value="${straMess.messId}"/>
	  <div class="layui-row">
	  	  <div class="layui-col-md4">
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">提货单号:</label>
			    <div class="layui-input-block">
			      <input type="text" name="messCode" style="border: 0px;" readonly="readonly"   class="layui-input" th:value="${straMess.messCode}">
			    </div>
			  </div>
		  </div> 
	  	  
	  	   <!-- <div class="layui-col-md2 layui-col-md-offset6">
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">页次:</label>
			    <div class="layui-input-block">
			      <input type="text" name="status" style="border: 0px;"  readonly="readonly"   class="layui-input" value="1/2" >
			    </div>
			  </div>
		  </div>  -->
	  </div>
	  <div class="layui-row" style='height:86px;width:100%;'>
		  	  <div style='width:90%;float:left;'>
		  	  		<div class="layui-row">
		  	  			<div class="layui-col-md12 comName">
						  <span th:text="${OEMsuppName}" ></span>
						 </div> 
					</div>
					<div class="layui-row" style="margin-top: 5px;">
		  	  			<div class="layui-col-md12 bills" >
						    <h2>直发通知单</h2>
						</div> 
					</div>
			  </div>
		  	  <div class="layui-col-md2 " style="height:100%;width:10%;float:left;">
				  <img th:src='${qrurl == null ? "/img/wenhao.jpg" : qrurl}' style="height:100%;width:86px;" id='Img'>
			  </div>
		  </div>

	   <!--  <div class="layui-row">
	  	  <div class="layui-col-md4">
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">收货单位:</label>
			    <div class="layui-input-block">
			      <input type="text" name="receUnit" style="border: 0px;" id="receUnit"   readonly="readonly"   class="layui-input disa" th:value="${deli.receUnit}">
			    </div>
			  </div>
		  </div>  
	  	  <div class="layui-col-md4">
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">地址:</label>
			    <div class="layui-input-block">
			      <input type="text" name="receAddr" style="border: 0px;" id="receAddr"  readonly="readonly"   class="layui-input disa" th:value="${deli.receAddr}">
			    </div>
			  </div>
		  </div> 
		  <div class="layui-col-md2 layui-col-md-offset2">
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">送货日期:</label>
			    <div class="layui-input-block">
			      <input type="date" name="deliDate" style="border: 0px;" id="deliDate" readonly="readonly"     class="layui-input" th:value="${deli.deliDate == null ? '' : #dates.format(deli.deliDate,'yyyy-MM-dd')}">
			    </div>
			  </div>
		  </div>  
	  </div>-->

	  <div style='width:100%;'>
	  	  <div style='width:30%;float:left;'>
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">收货单位:</label>
			    <div class="layui-input-block">
			      <input type="text" name="receUnit" style="border: 0px;" id="receUnit"   readonly="readonly"   class="layui-input disa" th:value="${straMess.receUnit}">
			    </div>
			  </div>
		  </div>  
	  	  <div style='width:30%;float:left;'>
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">地址:</label>
			    <div class="layui-input-block">
			      <input type="text" name="receAddr" style="border: 0px;width:250px;" id="receAddr"  readonly="readonly"   class="layui-input disa" th:value="${straMess.receAddr}">
			    </div>
			  </div>
		  </div> 
		  <div style='width:30%;float:left;'>
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">提货日期:</label>
			    <div class="layui-input-block">
			      <input type="date" name="deliveryDate" style="border: 0px;width:150px;" id="deliveryDate" readonly="readonly"     class="layui-input" th:value="${straMess.deliveryDate == null ? '' : #dates.format(straMess.deliveryDate,'yyyy-MM-dd')}">
			    </div>
			  </div>
		  </div>  
		  <div style='clear:both;'></div>
	  </div>
	   <!-- <div class="layui-row">
	  	  <div class="layui-col-md4">
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">联系人:</label>
			    <div class="layui-input-block">
			      <input type="text" name="contact" style="border: 0px;" id="contact"  readonly="readonly"   class="layui-input disa" th:value="${deli.contact}">
			    </div>
			  </div>
		  </div>  
	  	  <div class="layui-col-md4">
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">电话:</label>
			    <div class="layui-input-block">
			      <input type="text" name="phone" style="border: 0px;" id="phone" readonly="readonly"  class="layui-input disa" th:value="${deli.phone}">
			    </div>
			  </div>
		  </div>
		   <div class="layui-col-md2 layui-col-md-offset2">
			   <div class="layui-form-item">
    		      <label class="layui-form-label" style="width: 100px;">送货时间:</label>
    			    <div class="layui-input-block">
				     <input type="text" name="affirmDate" style="border: 0px;" id="affirmDate" readonly="readonly"   class="layui-input" th:value="${deli.affirmDate}">
    			  </div>
 			   </div>
		  </div>   
	  </div> -->
	  <!-- 联系方式 -->
	 <div style='width:100%;'>
	  	  <div style='width:30%;float:left;'>
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">联系人:</label>
			    <div class="layui-input-block">
			      <input type="text" name="contact" style="border: 0px;" id="contact"  readonly="readonly"   class="layui-input disa" th:value="${straMess.contact}">
			    </div>
			  </div>
		  </div>  
	  	  <div style='width:30%;float:left;'>
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">电话:</label>
			    <div class="layui-input-block">
			      <input type="text" name="phone" style="border: 0px;" id="phone" readonly="readonly"  class="layui-input disa" th:value="${straMess.phone}">
			    </div>
			  </div>
		  </div>
		   <div style='width:30%;float:left;'>
			   <div class="layui-form-item">
    		      <label class="layui-form-label" style="width: 100px;">送货时间:</label>
    			    <div class="layui-input-block">
				     <input type="text" name="affirmDate" style="border: 0px;" id="affirmDate" readonly="readonly"   class="layui-input" >
    			  </div>
 			   </div>
		  </div>   
	  </div>
	<div class=" panel-default " ><!-- page-break-before:always -->
		<div class=" btn-padding">
			<table id="MessmateTable" lay-filter="MessmateTableEvent" style='width:99%;margin-left:1%;'></table>
		</div>
	</div>
	<!-- <div class="layui-row">
	  	  <div class="layui-col-md6">
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">数量/箱</label>
			    <div class="layui-input-block">
			      <input type="text" name="deliNumber" style="border: 0px;"style="border: 0px;" id="deliNumber" readonly="readonly"  class="layui-input" th:value="${deli.deliNumber}">
			    </div>
			  </div>
		  </div>  
	  	  <div class="layui-col-md6">
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;white-space:pre;">总体积/立方</label>
			    <div class="layui-input-block">
			      <input type="text" name="deliAmount" style="border: 0px;" id="deliAmount" readonly="readonly"  class="layui-input" th:value="${deli.deliAmount}">
			    </div>
			  </div>
		  </div>  
	  </div>
	  <div class="layui-row">
	  	  <div class="layui-col-md4">
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">制单人:</label>
			    <div class="layui-input-block">
			      <input type="text" name="contact" style="border: 0px;" id="contact"  readonly="readonly"   class="layui-input disa" ">
			    </div>
			  </div>
		  </div>  
	  	  <div class="layui-col-md4">
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">货物签收:</label>
			    <div class="layui-input-block">
			      <input type="text" name="phone" style="border: 0px;" id="phone" readonly="readonly"  class="layui-input disa" ">
			    </div>
			  </div>
		  </div>
		   <div class="layui-col-md4">
			   <div class="layui-form-item">
    		      <label class="layui-form-label" style="width: 100px;">获取承运:</label>
    			    <div class="layui-input-block">
				     <input type="text" name="affirmDate" style="border: 0px;" id="affirmDate" readonly="readonly"   class="layui-input" ">
    			  </div>
 			   </div>
		  </div>   
	  </div> -->
	  <div style='width:100%'>
	  	  <div  style='width:20%;float:left;'>
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">数量/箱</label>
			    <div class="layui-input-block">
			      <input type="text" name="mateNumber" style="border: 0px;"style="border: 0px;" id="mateNumber" readonly="readonly"  class="layui-input" th:value="${straMess.mateNumber}">
			    </div>
			  </div>
		  </div>  
	  	  <div  style='width:20%;float:left;'>
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;white-space:pre;">总体积/立方</label>
			    <div class="layui-input-block">
			      <input type="text" name="mateAmount" style="border: 0px;" id="mateAmount" readonly="readonly"  class="layui-input" th:value="${straMess.mateAmount}">
			    </div>
			  </div>
		  </div> 
		   <div style='width:20%;float:left;'>
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">制单人:</label>
			    <div class="layui-input-block">
			      <input type="text" name="contact" style="border: 0px;"  readonly="readonly"   class="layui-input disa" >
			    </div>
			  </div>
		  </div>  
		  <div  style='width:20%;float:left;'>
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">货物签收:</label>
			    <div class="layui-input-block">
			      <input type="text" name="phone" style="border: 0px;"  readonly="readonly"  class="layui-input disa" >
			    </div>
			  </div>
		  </div>
		  <div style='width:20%;float:left;'>
			   <div class="layui-form-item">
    		      <label class="layui-form-label" style="width: 100px;">获取承运:</label>
    			    <div class="layui-input-block">
				     <input type="text" name="affirmDate" style="border: 0px;"  readonly="readonly"   class="layui-input" >
    			  </div>
 			   </div>
		  </div>  
	  </div>
	</form>


<div th:include="include::layuiJS"></div>
<script type="text/javascript" th:src="@{/larryMS/js/appjs/bam/straMess/straMessPrint.js}"></script>	
	
</body>
</html>
		 