<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/layui/css/style.css" media="all">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/cssCommon/Common.css}">
<style type="text/css">
.layui-col-md9 {
	margin-left: 0px !important;
}
</style>
</head>
<body class='fau-body-list'>
	<form class="layui-form" id="searchForm" action="" method="post">
		<div class="layui-row MarginTop">
			<div class="layui-col-md3">
				<div class="layui-form-item">
					<label class="layui-form-label">分类名称</label>
					<div class="layui-input-block">
						<input type="text" id="cateName" name="cateName"
							placeholder="分类名称" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-md3">
				<div class="layui-form-item">
					<label class="layui-form-label">分类编码</label>
					<div class="layui-input-block">
						<input type="text" id="cateCode" name="cateCode"
							placeholder="分类编码" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-col-md3">
				<div class="layui-form-item">
					<label class="layui-form-label">状态</label>
					<div class="layui-input-block">
						<select name="isUsed" lay-verify="" lay-search=""
							lay-filter="isUsedSelected">
							<option value="">请选择...</option>
							<option value="1">启用</option>
							<option value="0">禁用</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="layui-fluid divMargin" style="padding-top: 0px !important">
		<div class="layui-row">
			<div class="layui-col-md9">
				<button class="layui-btn layui-btn-xs blueHollow" type="button"
					id="createBtn">创建</button>
				<button class="layui-btn layui-btn-xs blueHollow" type="button"
					id="delBtn">删除</button>
			</div>
			<div class="layui-col-md3 textRight" style="float: right;">
				<button class="layui-btn layui-btn-xs yellowSolid" id="serachInfo">搜索</button>
				<button class="layui-btn layui-btn-xs yellowHollow" id="reset">重置</button>
			</div>
		</div>
	</div>
	<div class="layui-fluid tableCont" style='padding: 0px;'>
		<table class="layui-hide" id="dicListTable" lay-filter="dicListTable">
		</table>
	</div>
	<script src="/layui/layui.js"></script>
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/appjs/basic/dicList.js}"></script>
</body>
</html>