<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include::layuiHeader">
</head>
<style type="text/css">
.margin-top20 {
	margin-top: 20px;
}

.operateBtnGroup {
	margin-left: 6%;
}

.btnDiv {
	float: right;
	margin-right: 40px;
}
</style>
<body>
	<form class="layui-form margin-top20" id="searchForm" action=""
		method="post">
		<input id="nextDevNum" type="hidden" th:value="${nextDevNum}" /> <input
			id="endDate" type="hidden" th:value="${endDate}" />
		<div class="layui-row">
			<div class=" layui-col-md4   layui-col-sm6">
				<div class="layui-form-item">
					<label class="layui-form-label">物料编码</label>
					<div class="layui-input-block">
						<input type="text" id="mateCode" readonly="readonly"
							th:value="${mateCode}" class="layui-input">
					</div>
				</div>
			</div>
			<div class=" layui-col-md4   layui-col-sm6">
				<div class="layui-form-item">
					<label class="layui-form-label">物料名称</label>
					<div class="layui-input-block">
						<input type="text" id="mateDesc" readonly="readonly"
							th:value="${mateDesc}" class="layui-input">
					</div>
				</div>
			</div>
			<div class=" layui-col-md4   layui-col-sm6">
				<div class="layui-form-item">
					<label class="layui-form-label">月份</label>
					<div class="layui-input-block">
						<input type="text" id="planMonth" readonly="readonly"
							th:value="${planMonth}" class="layui-input">
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="layui-fluid tableCont" style='padding:0px;'>
		<table class="layui-hide" id="suppTable" lay-filter="suppTable">
		</table>
	</div>
	<div class="layui-row btnDiv">
		<button class="layui-btn layui-btn-sm" id="cancleBtn">关闭</button>
	</div>
	<div th:include="include::layuiCommonJS"></div>
	<script type="text/javascript" th:src="@{/larryMS/js/appjs/bam/actuallyReach/suppReachDg.js}"></script>
</body>
</html>