<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include::layuiCommonHeader">
<title>编辑收货单</title>
<!-- <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="renderer" content="webkit" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<div th:include="include :: header"></div>
<link th:href="@{/css/font-awesome.min93e3.css}" rel="stylesheet" />
<link th:href="@{/css/animate.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.min862f.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/cssCommon/Common.css}">
<link rel="stylesheet" href="/layui/css/style.css" media="all"> -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<style type="text/css">
.red {
	color: red;
}

.center {
	text-align: center;
}

input {
	height: 30px;
}

.layui-table,.layui-table-view {
	width: 100% !important;
	margin-left: 1%;
}

td:nth-child(1) {
	border-right: 1px solid #e6e6e6 !important;
}

th:nth-child(1) {
	border-right: 1px solid #e6e6e6 !important;
}

html,body {
	overflow: auto !important;
}

.margin-top {
	margin-top: 10px;
}
</style>
<body>

	<div class='BttonDiv margin-top'>
		<button class="layui-btn layui-btn-xs blueHollow" id="goBack">返回</button>
		<button class="layui-btn layui-btn-xs blueHollow"
			th:if="${funType!='1'}" id="printBut">打印</button>
		<button class="layui-btn layui-btn-xs blueHollow" id="editStatus">编辑状态</button>
	</div>

	<div class="panel-default ">
		<div class=" btn-padding">
			<a class="btn " data-toggle="collapse" href="#collapseOne"> <i
				class="glyphicon glyphicon-bookmark"></i>&nbsp;&nbsp;收货信息
			</a>
		</div>
	</div>
	<br />
	<form class="layui-form" action="" method="post" id="receiveForm"
		enctype="multipart/form-data">
		<input type="text" name="receMateData" id="receMateData"
			style="display: none;" /> <input type="text" name="receId"
			id="receId" style="display: none;" th:value="${rece.receId}" /> <input
			type="text" name="suppId" id="suppId" style="display: none;"
			th:value="${rece.suppId}" /> <input type="text" name="receAmount"
			id="receAmount" style="display: none;" th:value="${rece.receAmount}" />
		<input type="text" name="truckNum" id="truckNum"
			style="display: none;" th:value="${rece.truckNum}" /> <input
			type="text" name="post" id="post" style="display: none;"
			th:value="${rece.post}" /> <input type="text" name="funType"
			id="funType" style="display: none;" th:value="${funType}" /> <input
			type="text" name="receType" id="receType" style="display: none;"
			th:value="${rece.receType}" /> <input type="text" name="userType"
			id="userType" style="display: none;" th:value="${userType}" />
			 <input type="text" name="suppRange"
			id="suppRange" style="display: none;" th:value="${rece.suppRange}" />
			 <input type="text" name="suppRangeDesc"
			id="suppRangeDesc" style="display: none;" th:value="${rece.suppRangeDesc}" />
		<div class="layui-row">
			<div class="layui-col-md4">
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100px;">收货单号</label>
					<div class="layui-input-block">
						<input type="text" name="receCode" id="receCode" readonly="readonly"
							class="layui-input" th:value="${rece.receCode}">
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100px;">收货日期</label>
					<div class="layui-input-block">
						<input type="date" name="receDate" id="receDate"
							readonly="readonly" class="layui-input"
							th:value="${rece.receDate == null ? '' : #dates.format(rece.receDate,'yyyy-MM-dd')}">
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100px;">状态</label>
					<div class="layui-input-block">
						<input type="text" name="status" id="status" readonly="readonly"
							class="layui-input" th:value="${rece.status}">
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-md4">
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100px;"><i
						class="red xinghao">*</i>送货单号</label>
					<div class="layui-input-block">
						<input type="text" name="deliCode" id="deliCode"
							class="layui-input disa must" th:value="${rece.deliCode}">
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100px;">供应商</label>
					<div class="layui-input-block">
						<input type="text" name="suppName" id="suppName"
							readonly="readonly" class="layui-input"
							th:value="${rece.suppName}">
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100px;">收货单位</label>
					<div class="layui-input-block">
						<input type="text" name="receUnit" id="receUnit"
							readonly="readonly" class="layui-input"
							th:value="${rece.receUnit}">
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-md4">
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100px;">总数量</label>
					<div class="layui-input-block">
						<input type="text" name="receNumber" id="receNumber"
							readonly="readonly" class="layui-input"
							th:value="${rece.receNumber}">
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100px;">同步状态</label>
					<div class="layui-input-block">
						<input type="text" name="asyncStatus" id="asyncStatus"
							readonly="readonly" class="layui-input"
							th:value="${rece.asyncStatus}">
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100px;">供应商子范围</label>
					<div class="layui-input-block">
						<input type="text" name="suppRange2" id="suppRange2"
							readonly="readonly" class="layui-input">
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-md12">
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 100px;">错误信息</label>
					<div class="layui-input-block">
						<textarea name="errorMsg" id="errorMsg" readonly="readonly" th:text="${rece.errorMsg}" class="layui-textarea"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class=" panel-default ">
			<div class=" btn-padding">
				<a class="btn " data-toggle="collapse" href="#collapseFour"> <i
					class="glyphicon glyphicon-bookmark"></i>&nbsp;&nbsp;物资信息
				</a>
				<table id="receMateTable" lay-filter="receMateTableEvent"
					style='width: 99%; margin-left: 1%;'></table>
			</div>
		</div>
	</form>
<script type="text/html" id="recebarDemo">
<a class="layui-btn layui-btn-primary layui-btn-xs blueInline" lay-event="edit">编辑</a>
</script>
	<div th:include="include::layuiCommonJS"></div>
	<script type="text/javascript"
		th:src="@{/larryMS/js/appjs/rm/appoDeli/receiveEdit.js}"></script>
	
	
</body>
</html>
