<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include::layuiCommonHeader">
<title>打切联络单查看</title>
<!-- <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="renderer" content="webkit" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<div th:include="include :: header"></div>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
<link rel="stylesheet" href="/layui/css/style.css" media="all">
<link rel="stylesheet" type="text/css" th:href="@{/css/cssCommon/Common.css}"> -->
</head>
<body>
<div class="layui-row "> 	  	  
	<div class="layui-col-md6" style='margin-left:15px;margin-top:5px;'>
		<button class="layui-btn layui-btn-xs blueHollow" id="goReturn" th:if="${cutLiai?.status =='已提交'}">退回</button>
		<button class="layui-btn layui-btn-xs blueHollow" id="goBack">返回</button>
	</div>
</div>
<form action="" method="post" id="cutLiaisonForm">
<input type="text" id="liaiId" name="liaiId"  th:value="${cutLiai?.liaiId}"  style="display: none;" class="layui-input " >
<input type="text" id="liaiStatus" name="status"  th:value="${cutLiai?.status}"  style="display: none;" class="layui-input " >
<div class="layui-row MarginTop">
			<div class="layui-col-md4" >
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">打切联络单号</label>
			    <div class="layui-input-block">
			      <input type="text" id="liaiCode" name="liaiCode"  th:value="${cutLiai?.liaiCode}"  style="width: 100%" class="layui-input " readonly="readonly">
			    </div>
			  </div>
		  </div>  
		  <div class="layui-col-md4" >
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 114px;">状态</label>
			    <div class="layui-input-block" style='margin-left:124px;'>
			      <input type="text" id="status" name="status"  th:value="${cutLiai?.status}"   style="width: 100%" class="layui-input " readonly="readonly">
			    </div>
			  </div>
		  </div>  
		  <div class="layui-col-md4" >
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 114px;">创建日期</label>
			    <div class="layui-input-block" style='margin-left:124px;'>
			      <input type="date" id="createDate" name="createDate"  th:value="${cutLiai?.createDate == null ? '': #dates.format(cutLiai?.createDate,'yyyy-MM-dd') }"   style="width: 100%" class="layui-input " readonly="readonly">
			    </div>
			  </div>
		  </div> 
</div>
<div class="layui-row">
			<div class="layui-col-md8" >
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 100px;">供应商</label>
			    <div class="layui-input-block">
			      <input type="text" id="suppName" name="suppName"  th:value="${cutLiai?.suppName}" style="width: 100%" class="layui-input " readonly="readonly">
			    </div>
			  </div>
		  </div>  
		  <div class="layui-col-md4" >
			  <div class="layui-form-item">
			    <label class="layui-form-label" style="width: 114px;">打切月份</label>
			    <div class="layui-input-block" style='margin-left:124px;'>
			      <input type="text" id="cutMonth" name="cutMonth" disabled placeholder="yyyy-MM"  th:value="${cutLiai?.cutMonth}" style="width: 100%" class="layui-input ">
			    </div>
			  </div>
		  </div>  
</div>
</form>
<form action="" method="post" id="searchForm" class="layui-form">
	<div class="layui-row">
		<div class="layui-col-md8" >
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 100px;">OEM供应商</label>
				<div class="layui-input-block">
					<!--<input type="text" id="oemSuppName" name="oemSuppName"  style="width: 100%" class="layui-input ">-->
					<select name="oemSuppName" lay-verify="" id="oemSuppName" lay-filter="mapgCode">
						<option value ="defaultVal" selected="selected">请选择</option>
					</select>
				</div>
			</div>
		</div>
		<div class="layui-col-md4" >
			<div class="layui-form-item">
				<label class="layui-form-label" style="width: 114px;">物料</label>
				<div class="layui-input-block" style='margin-left:124px;'>
					<input type="text" id="mateName" name="mateName" style="width: 100%" class="layui-input">
				</div>
			</div>
		</div>
	</div>
</form>
<div class="layui-fluid tableCont" style='padding:0px;margin-left: 15px;'>
	<button class="layui-btn layui-btn-xs blueHollow" id="resetBtn">重置</button>
	<button class="layui-btn layui-btn-xs blueHollow" id="screenBtn">筛选</button>
</div>
<div class="layui-fluid tableCont" style='padding:0px;'>
<table class="layui-hide" id="cutLiaiMateTable" lay-filter="cutLiaiMateTable"></table>
</div>
</body>
<div th:include="include::websocketJS"></div>
<div th:include="include::layuiCommonJS"></div>
<script type="text/javascript" src="/larryMS/js/appjs/bam/placut/ContactSheetForBaoCai/ContactSheetForBaoCaiCheck.js"></script>
</html>