<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="renderer" content="webkit" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

    <title>INSPINIA | 404 Error</title>

 <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{css/font-awesome.min93e3.css}" rel="stylesheet" />
<link th:href="@{css/animate.min.css}" rel="stylesheet" />
<link th:href="@{css/style.min862f.css}" rel="stylesheet" />

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">Internal Server Error</h3>

        <div class="error-desc">
            The server encountered something unexpected that didn't allow it to complete the request. We apologize.<br/>
            You can go back to main page: <br/>
        </div>
    </div>

    <!-- Mainly scripts -->
 <script th:src="@{js/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{js/bootstrap.min.js}" type="text/javascript"></script>
</body>

</html>
