<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include::layuiCommonHeader">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<title>添加合同</title>
</head>
<style type="text/css">
.red {color: red;}
.center {text-align: center;}
 input {height: 30px;}
.main-body{margin-top:20px;margin-left:20px}
.doc-table{margin-right:20px;}
.tree-search{width: 70%;}
.table-search{width: 30%;}
.layui-colla-title {margin-top: 0px;margin-bottom: 0px;}
.margin-top20{margin-top: 20px;}   
.layui-form-label{width:100px;}
.layui-form-label10{width:10px;}
.pull-right{margin-right:20px}  
</style>
<body>
	
	<div class="layui-row main-body ">
		<div class="layui-row">
			<div class="layui-col-md4">
<!-- 				<button class="layui-btn layui-btn-xs blueHollow" id="publishBtn">发布</button>
 -->				<button class="layui-btn layui-btn-xs blueHollow disableBtn" id="saveBtn">保存</button>
				<button class="layui-btn layui-btn-xs blueHollow" id="backBtn">返回</button>
			</div>
		</div>
		<div class="layui-row margin-top20" >
			<div class=" panel-default ">
				<div class=" btn-padding">
					<a class="btn " data-toggle="collapse" href="#collapseOne"> 
						<i class="glyphicon glyphicon-bookmark"></i>
						&nbsp;&nbsp;模板信息
					</a>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							<form class="layui-form" method="post" id="tempForm" >
								<input type="hidden" name="id" id="id" th:value="${cont.id}"/>
								<input type="hidden" name="jsonFile" id="jsonFile"/>
								<input type="hidden" name="jsonMenu" id="jsonMenu"/>
								<input type="hidden" name="type" id="type" th:value="${type}"/>
								<input type="hidden" name="contStatus" id="contStatus" th:value="${cont.contStatus}"/>
								<input type="hidden" name="contTypeName" id="contTypeName" th:value="${cont.contTypeName}"/>
								<input type="hidden" name="firstPartName" id="firstPartName" th:value="${cont.firstPartName}"/>
								<input type="hidden" name="secondPartName" id="secondPartName" th:value="${cont.secondPartName}"/>
								<input type="hidden" name="contStatus" id="contStatus" th:value="${cont.contStatus}"/>
								<div class="layui-row">
									<div class="layui-col-md3">
										<div class="layui-form-item">
											<label class="layui-form-label">创建日期</label>
											<div class="layui-input-block">
												<input type="text" readonly="readonly" name="createTime"
													id="createTime"
													th:value="${cont.createTime== null} ? '':${#dates.format(cont.createTime, 'yyyy-MM-dd')} "
													autocomplete="off" class="layui-input">
											</div>
										</div>
									</div>
									<div class="layui-col-md3">
										 <div class="layui-form-item">
											
										    <label class="layui-form-label"><i class="red xinghao">*</i>合同编号</label>
										    <div class="layui-input-block">
										      <input type="text" name="contNo"  id="contNo" th:value="${cont.contNo}"  autocomplete="off" class="layui-input must">
										    </div>
										  </div>
									</div>
									<div class="layui-col-md3">
										<div class="layui-form-item">
											
											<label class="layui-form-label"><i class="red xinghao">*</i>合同类型</label>
											<div class="layui-input-block">
												<select name="contType" class="must" lay-filter="contType" lay-verify="required">
													<option value="">直接选择或搜索选择</option>
													<option value="1" th:each="dic:${contTypeList}" th:selected="${cont.contType==dic.dicCode}" th:value="${dic.dicCode}" th:text="${dic.dicName}">上海</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-md3">
										<div class="layui-form-item">
											
											<label class="layui-form-label"><i class="red xinghao">*</i>甲方</label>
											<div class="layui-input-block">
												<select name="firstPart" class="must" id="firstPart" lay-filter="firstPart" lay-verify="required" lay-search="">
													<option value="">直接选择或搜索选择</option>
													<option th:each="dic:${firstPartList}"  th:value="${dic.dicCode}" th:text="${dic.dicName}" th:selected="${dic.dicCode==cont.firstPart}">layer</option>
												</select>
											</div>
										</div>
									</div>
									<div class="layui-col-md3">
										<div class="layui-form-item">
											
											<label class="layui-form-label"><i class="red xinghao">*</i>乙方</label>
											<div class="layui-input-block">
												<select name="secondPart"  class="must"  id="secondPart" lay-filter="secondPart" lay-verify="required" lay-search="">
													<option value="">直接选择或搜索选择</option>
													<option th:each="supp:${suppList}"  th:value="${supp.sapId}" th:text="${supp.suppName}" th:selected="${supp.sapId==cont.secondPart}">layer</option>
												</select>
											</div>
										</div>
									</div>
									<div class="layui-col-md3">
										<div class="layui-form-item">
											<label class="layui-form-label">合同版本</label>
											<div class="layui-input-block">
												<input type="text" name="contVersion" id="contVersion" th:value="${cont.contVersion}" autocomplete="off" class="layui-input	">
											</div>
										</div>
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-md9">
										<div class="layui-form-item">
											
											<label class="layui-form-label"><i class="red xinghao">*</i>合同名称</label>
											<div class="layui-input-block">
												<input type="text" name="contName" id="contName" th:value="${cont.contName}" autocomplete="off" class="layui-input must">
											</div>
										</div>
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-md3">
										<div class="layui-form-item">
											<label class="layui-form-label"><i class="red xinghao">*</i>有效期始</label>
											<div class="layui-input-block">
												<input type="text" name="startDate" id="startDate" th:value="${cont.startDate==null}?'':${#dates.format(cont.startDate,'yyyy-MM-dd')}" autocomplete="off" class="layui-input must">
											</div>
										</div>
									</div>
									<div class="layui-col-md3">
										<div class="layui-form-item">
											<label class="layui-form-label"><i class="red xinghao">*</i>有效期止</label>
											<div class="layui-input-block">
												<input type="text" name="endDate" id="endDate" th:value="${cont.endDate==null}?'':${#dates.format(cont.endDate,'yyyy-MM-dd')}" autocomplete="off" class="layui-input must">
											</div>
										</div>
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-md9">
										<div class="layui-form-item layui-form-text">
										    <label class="layui-form-label">合同说明</label>
										    <div class="layui-input-block">
										    	<textarea name="contRemark" id="contRemark" th:value="${cont.contRemark}" th:text="${cont.contRemark}" placeholder="请输入内容" class="layui-textarea"></textarea>
										    </div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row " >
			<div class=" panel-default ">
				<div class=" btn-padding">
					<a class="btn " data-toggle="collapse" href="#collapseThree"> <i
						class="glyphicon glyphicon-bookmark"></i>&nbsp;&nbsp;合同附件
					</a>
					<div class="pull-right">
						<button type="button" class="layui-btn layui-btn-xs blueHollow disableBtn" id="addFile">添加</button>
						<!-- <button class="layui-btn" id="downLoadAll">全部下载</button> -->
					</div>
					<div id="collapseThree" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="layui-row">
								<table class="table table-striped table-bordered table-hover" id="filetable"></table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class=" panel-default ">
				<div class=" btn-padding">
					<a class="btn " data-toggle="collapse" href="#collapseFour"> <i
						class="glyphicon glyphicon-bookmark"></i>&nbsp;&nbsp;历史记录
					</a>
					<div id="collapseFour" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="layui-row">
								<div class="layui-upload-list">
									<table class="table table-striped table-bordered table-hover" id="logtable"></table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/html" id="barDemo">
  		<a class="layui-btn layui-btn-danger disableBtn layui-btn-xs" lay-event="del">删除</a>
  		<a class="layui-btn layui-btn-xs" lay-event="downLoad">下载</a>
	</script>
	<div th:include="include::layuiCommonJS"></div>
	<script type="text/javascript" th:src="@{/larryMS/js/jquery-form.js}"></script>
	<script type="text/javascript" th:src="@{/editTable/plus/import.inc.js}"></script>
	<script type="text/javascript" th:src="@{/larryMS/js/appjs/bam/cont/addCont.js}"></script>
</body>
</html>
