<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include::layuiHeader">
<!-- <meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/layui/css/style.css" media="all"> -->
</head>
<style type="text/css">
.margin-top20 {
	margin-top: 20px;
}

#searchBtn {
	float: right;
	margin-right: 45px;
}

.btnDiv {
	float: right;
	margin-right: 40px;
}

.blueHollow {
	border: 1px #458ffc solid;
	background: white;
	color: #458ffc;
}

.blueHollow:hover {
	background: #458ffc;
	color: #fff;
}
.layui-input{width:74%}
</style>
<body>
	<form class="layui-form margin-top20" id="searchForm" action=""
		method="post">
		<div class="layui-row">
			<div class="layui-form-item">
				<label class="layui-form-label">报价单编号</label>
				<div class="layui-input-inline">
					<input type="text" id="quoteCode" name="quoteCode"
						th:value="${quote.quoteCode}" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-form-item">
				<label class="layui-form-label">有效期始</label>
				<div class="layui-input-inline">
					<input type="text" id="validStart" name="validStart"
						th:value="${quote.validStart==null}?'':${#dates.format(quote.validStart,'yyyy-MM-dd')}"
						class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row">
			<div class="layui-form-item">
				<label class="layui-form-label">有效期止</label>
				<div class="layui-input-inline">
					<input type="text" id="validEnd" name="validEnd"
						th:value="${quote.validEnd==null}?'':${#dates.format(quote.validEnd,'yyyy-MM-dd')}"
						class="layui-input">
				</div>
			</div>
		</div>
	</form>
	<div class="layui-row btnDiv">
		<button class="layui-btn layui-btn-xs blueHollow" id=confirmBtn>确定</button>
		<button class="layui-btn layui-btn-xs blueHollow" id="cancleBtn">取消</button>
	</div>
	<div th:include="include::layuiCommonJS"></div>
	<script type="text/javascript" th:src="@{/larryMS/js/appjs/bam/quote/validDateDg.js}"></script>
</body>
</html>