@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qowmkf');
  src:  url('fonts/icomoon.eot?qowmkf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qowmkf') format('truetype'),
    url('fonts/icomoon.woff?qowmkf') format('woff'),
    url('fonts/icomoon.svg?qowmkf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icones-"], [class*=" icones-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icones-jiaoseshouquan:before {
  content: "\e915";
}
.icones-mobanguanli:before {
  content: "\e916";
}
.icones-zuzhishouquan:before {
  content: "\e917";
}
.icones-wanglaiduizhang:before {
  content: "\e913";
}
.icones-caiwujicha:before {
  content: "\e914";
}
.icones-baojiaguanli:before {
  content: "\e900";
}
.icones-cahnxiaojihuaguanli:before {
  content: "\e901";
}
.icones-caigoudingdan:before {
  content: "\e902";
}
.icones-caigouduizhangguanli:before {
  content: "\e903";
}
.icones-daqie:before {
  content: "\e904";
}
.icones-gongyingshangguanli:before {
  content: "\e905";
}
.icones-hetongguanli:before {
  content: "\e906";
}
.icones-huoyuanguanli:before {
  content: "\e907";
}
.icones-kucunguanli:before {
  content: "\e908";
}
.icones-renwu:before {
  content: "\e909";
}
.icones-renwuguanli:before {
  content: "\e90a";
}
.icones-songhuoguanli:before {
  content: "\e90b";
}
.icones-tuichu:before {
  content: "\e90c";
}
.icones-wendangguanli:before {
  content: "\e90d";
}
.icones-wuliaoguanli:before {
  content: "\e90e";
}
.icones-xiaoxi:before {
  content: "\e90f";
}
.icones-xitongxinxi:before {
  content: "\e910";
}
.icones-yuecheguanli:before {
  content: "\e911";
}
.icones-zhuye:before {
  content: "\e912";
}
