<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="renderer" content="webkit" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" href="/larryMS/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/larryMS/layui/css/style.css" media="all">
<title>产能上报明细</title>
</head>

<div th:include="include::layuiCommonJS"></div>
<script type="text/javascript" th:src="@{/larryMS/js/jquery-form.js}"></script>
<script type="text/javascript" th:src="@{/editTable/plus/import.inc.js}"></script>
<script type="text/javascript" th:src="@{/larryMS/js/appjs/bam/pdr/pdrSpecialDetail.js}"></script>

<style type="text/css">
.red {color: red;}
.center {text-align: center;}
 input {height: 30px;}
.main-body{margin-top:20px;margin-left:20px}
.doc-table{margin-right:20px;}
.tree-search{width: 70%;}
.table-search{width: 30%;}
.layui-colla-title {margin-top: 0px;margin-bottom: 0px;}
.margin-top20{margin-top: 20px;}   
.layui-form-label{width:100px;}
.layui-form-label10{width:10px;}
.pull-right{margin-right:20px} 
.layui-table{margin:0px;} 
.panel-body{padding:10px !important;} 
</style>

<body>

	<div class="layui-row main-body ">
		<div class="layui-row">
			<div class="layui-col-md4">
				<button class="layui-btn layui-btn-xs blueHollow btnShow" id="submitBtn">提交</button>
				<button class="layui-btn layui-btn-xs blueHollow btnShow" id="saveBtn">保存</button>
				<button class="layui-btn layui-btn-xs blueHollow" id="backBtn">返回</button>
			</div>
		</div>
		<div class="layui-row margin-top20" >
			<div class=" panel-default ">
				<div class=" btn-padding">
					<a class="btn " data-toggle="collapse" href="#collapseOne"> <i
						class="glyphicon glyphicon-bookmark"></i>&nbsp;&nbsp;基本信息
					</a>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							<form class="layui-form" id="submitForm" >
								<input type="hidden" name="id" id="id" th:value="${mainId}"/>
								<input type="hidden" name="type" id="type" th:value="${type}"/>
								<input type="hidden" name="crtUser" id="crtUser" th:value="${list.crtUser}"/>
								<input type="hidden" name="suppCode" id="suppCode" th:value="${list.suppCode}"/>
								<input type="hidden" name="syncFlag" id="syncFlag" th:value="${list.syncFlag}"/>
								
								<!-- 明细数据 -->
								<input type="hidden" name="pdrDetailData" id="pdrDetailData" />
								<input type="hidden" name="pdrItem1Data" id="pdrItem1Data" />
								<input type="hidden" name="pdrItem2Data" id="pdrItem2Data" />
								<input type="hidden" name="pdrItem3Data" id="pdrItem3Data" />
								
								<div class="layui-row">
									<div class="layui-col-md3">
										 <div class="layui-form-item">
										    <label class="layui-form-label">日报编号</label>
										    <div class="layui-input-block">
										      <input type="text" name="pdrCode"  id="pdrCode" th:value="${list.pdrCode}" readonly="readonly" autocomplete="off" class="layui-input">
										    </div>
										  </div>
									</div>
									<div class="layui-col-md3">
										<div class="layui-form-item">
											<label class="layui-form-label">状态</label>
											<div class="layui-input-block">
										      <input type="text" name="status"  id="status" th:value="${list.status}" readonly="readonly" autocomplete="off" class="layui-input">
										    </div>
										</div>
									</div>
									<div class="layui-col-md3">
										<div class="layui-form-item">
											<label class="layui-form-label">生产日期</label>
											<div class="layui-input-block">
												<input type="text" readonly="readonly" name="produceDate"
													id="produceDate"
													th:value="${list.produceDate == null ? '' : #dates.format(list.produceDate,'yyyy-MM-dd')}" 
													autocomplete="off" class="layui-input" placeholder="yyyy-MM-dd">
											</div>
										</div>
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-md6">
										<div class="layui-form-item">
											<label class="layui-form-label">供应商</label>
											<div class="layui-input-block" style='display:flex;align-items:center;'>
												<input type="text" name="suppName" id="suppName" th:value="${list.suppName}" autocomplete="off" readonly="readonly" class="layui-input">
												<button type="button" class="layui-btn layui-btn-xs blueHollow" id="suppSelBtn" style="height:30px;margin-left:10px;">选择</button>
											</div>
										</div>
									</div>
									<div class="layui-col-md3">
										<div class="layui-inline">
											<label class="layui-form-label">创建日期</label>
											<div class="layui-input-block">
				        						<input type="text" class="layui-input" id="crtDate" name="crtDate" readonly="readonly" th:value="${list.crtDate}" >
				     	 					</div>
										</div>
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-md6">
										<div class="layui-form-item">
											<label class="layui-form-label">备注</label>
											<div class="layui-input-block">
												<input type="text" name="remark" id="remark" th:value="${list.remark}" autocomplete="off" class="layui-input">
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row " >
			<div class=" panel-default ">
				<div class=" btn-padding sumMat">
					<a class="btn " data-toggle="collapse" href="#collapseThree"> <i
						class="glyphicon glyphicon-bookmark"></i>&nbsp;&nbsp;物料信息
					</a>
					<div class="pull-right">
						<button type="button" class="layui-btn layui-btn-xs blueHollow" id="resetBtn">重置</button>
						<button type="button" class="layui-btn layui-btn-xs blueHollow" id="searchBtn">筛选</button>
					</div>
					<div id="collapseThree" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="layui-row">
							<div class="layui-fluid tableCont" style='padding:0px;'>
								<table id="mat-table" class="layui-table" lay-filter="dealChangeEvent"></table>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="layui-row " >
				<div class=" panel-default ">
					<div class=" btn-padding">
						<a class="btn " data-toggle="collapse" href="#collapseFour"> <i
							class="glyphicon glyphicon-bookmark"></i>&nbsp;&nbsp;实际生产
						</a>
						<div class="pull-right">
							<button type="button" class="layui-btn layui-btn-xs blueHollow" id="reset1Btn">重置</button>
							<button type="button" class="layui-btn layui-btn-xs blueHollow" id="search1Btn">筛选</button>
							
							<button type="button" class="layui-btn layui-btn-xs blueHollow btnShow" id="addItem1Btn">添加</button>
							<button type="button" class="layui-btn layui-btn-xs blueHollow btnShow" id="delItem1Btn">删除</button>
						</div>
						<div id="collapseFour" class="panel-collapse collapse in" style='padding-top:5px !important;'>
							<div class="panel-body">
								<div class="layui-row">
								<div class="layui-fluid tableCont" style='padding:0px;'>
									<table id="item-table1" class="layui-table" lay-filter="item1Event"></table>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		
		<div class="layui-row " >
				<div class=" panel-default ">
					<div class=" btn-padding">
						<a class="btn " data-toggle="collapse" href="#collapseSix"> <i
							class="glyphicon glyphicon-bookmark"></i>&nbsp;&nbsp;实际交货
						</a>
						<div class="pull-right">
							<button type="button" class="layui-btn layui-btn-xs blueHollow" id="reset3Btn">重置</button>
							<button type="button" class="layui-btn layui-btn-xs blueHollow" id="search3Btn">筛选</button>
							
							<button type="button" class="layui-btn layui-btn-xs blueHollow btnShow" id="addItem3Btn">添加</button>
							<button type="button" class="layui-btn layui-btn-xs blueHollow btnShow" id="delItem3Btn">删除</button>
						</div>
						<div id="collapseSix" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="layui-row">
								<div class="layui-fluid tableCont" style='padding:0px;'>
									<table id="item-table3" class="layui-table" lay-filter="item3Event"></table>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		
		<div class="layui-row " >	
				<div class=" panel-default ">
					<div class=" btn-padding">
						<a class="btn " data-toggle="collapse" href="#collapseFive"> <i
							class="glyphicon glyphicon-bookmark"></i>&nbsp;&nbsp;实际库存
						</a>
						<div class="pull-right">
							<button type="button" class="layui-btn layui-btn-xs blueHollow" id="reset2Btn">重置</button>
							<button type="button" class="layui-btn layui-btn-xs blueHollow" id="search2Btn">筛选</button>
							
							<button type="button" class="layui-btn layui-btn-xs blueHollow btnShow" id="addItem2Btn">添加</button>
							<button type="button" class="layui-btn layui-btn-xs blueHollow btnShow" id="delItem2Btn">删除</button>
						</div>
						<div id="collapseFive" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="layui-row">
								<div class="layui-fluid tableCont" style='padding:0px;'>
									<table id="item-table2" class="layui-table" lay-filter="item2Event"></table>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		
	</div>
</body>
</html>